<!DOCTYPE html>
<html>
    <head>
        <title>Red - Discord Bot Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/uJGZl4O.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            body {
                margin: 0;
                font-family: sans-serif;
            }
            .main {
                margin-top: 50px;
            }
            h1, p, h2 {
                padding-right: 10px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="main">
            <h1>Credits</h1>
            <p>Dashboard Creator: Neuro Assassin</p>
            <p>The following are not my own, and instead I have borrowed from another source:</p>
            <ul>
                <li>Image on the <a href="/">landing page</a>; this belongs to Red, and the Cog Creators.</li>
                <li>The favicon for the dashboard pages, this also belongs to Red.  It is the Discord guild icon.</li>
            </ul>
            <h1>Licenses</h1>
            <p><a href="https://github.com/NeuroAssassin/Toxic-Cogs/blob/master/LICENSE">This Dashboard is protected under MIT license.</a></p>
            <p><a href="https://github.com/Cog-Creators/Red-DiscordBot/blob/V3/develop/LICENSE">Red - Discord Bot is protected under GNU General Public License v3.0.</a></p>
            <h2>Owners/helpers</h2>
        </div>
        <script>
            /* Open when someone clicks on the span element */
            function openNav() {
                document.getElementById("myNav").style.width = "15%";
            }

            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
    </body>
</html>