<!DOCTYPE html>
<html>
    <head>
        <title>Red - Discord Bot Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/uJGZl4O.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            a:link {
                color: #0000ff;
            }
            body {
                font-family: sans-serif;
                background-color: #000000;
                margin: 0;
            }
            .container {
                margin-top: 50px;
            }
            .main {
                background-color: #ffffff;
                padding: 15px;
                box-shadow: -5px -5px 5px #665c5c, 10px 0px 5px #665c5c;
                border-radius: 2%;
                overflow: auto;
            }
            .contains {
                border: 3px solid black;
                box-shadow: -5px -5px 8px grey;
                border-radius: 5%;
                margin: 10px;
                background-color: #e4dede;
                height: 100%;
            }
            .spacer {
                height: 50px;
            }
            .cogs {
                height: 300px;
            }
            .starting {
                margin-left: 25px;
            }
        </style>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1 style="color: #ffffff"><u>Red - Discord Bot Dashboard</u></h1>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="card-deck">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 id="admin" class="card-title">Admin</h5>
                        <h6 class="card-subtitle mb-2 text-muted">A collection of server administration utilities.</h6>
                        <p class="card-text">Configure/call the following:</p>
                        <ul>
                            <li>Send announcement (working)</li>
                            <li>Serverlock the bot (working)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="/cogs/admin" class="btn btn-primary" style="color: white;">Go to Admin page</a>
                    </div>
                </div>
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 id="mod" class="card-title">Mod</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Moderation tools.</h6>
                            <p class="card-text">Configure/call the following:</p>
                            <ul>
                                <li>Add servers/channels to the ignore list (working)</li>
                                <li>Remove servers from the ignore list</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="/cogs/mod" class="btn btn-primary" style="color: white;">Go to Mod page</a>
                        </div>
                    </div>
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 id="downloader" class="card-title">Downloader</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Install cogs and add repos to your bot</h6>
                        <p class="card-text">Configure/call the following:</p>
                        <ul>
                            <li>Install a cog from a repository</li>
                            <li>Uninstall a cog from a repository</li>
                            <li>Pip install a library</li>
                            <li>Add a repo to your bot</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="/cogs/downloader" class="btn btn-primary" style="color: white;">Go to Downloader page</a>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="card-deck">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 id="core" class="card-title">Core</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Commands related to core functions</h6>
                        <p class="card-text">Configure/call the following:</p>
                        <ul>
                            <li>Load a cog (working)</li>
                            <li>Unload a cog (working)</li>
                            <li>Reload a cog (working)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="/cogs/core" class="btn btn-primary" style="color: white;">Go to Core page</a>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 id="cogmanager" class="card-title">Cog Manager UI</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Commands to interface with Red's cog manager.</h6>
                        <p class="card-text">Configure/call the following:</p>
                        <ul>
                            <li>List cogs (working)</li>
                            <li>List paths (working)</li>
                            <li>Add paths (working)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="/cogs/cogmanager" class="btn btn-primary" style="color: white;">Go to Cog Manager page</a>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 id="alias" class="card-title">Alias</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Create aliases for commands.</h6>
                        <p class="card-text">Configure/call the following:</p>
                        <ul>
                            <li>Create aliases</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="/cogs/alias" class="btn btn-primary" style="color: white;">Go to Alias page</a>
                    </div>
                </div>
            </div>
            <p><i><a href="/credits">Credits</a></i></p>
        </div>
    </body>
</html>