<!DOCTYPE html>
<html>
    <head>
        <title>Red - Discord Bot Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/uJGZl4O.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            body {
                margin: 0;
                font-family: sans-serif;
            }
            .main {
                margin-top: 50px;
            }
            h1, p {
                padding-right: 10px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="main">
            <h1>Errors</h1>
            <p>Command errors that have been caught by this cog.</p>
            <table style="width: 90%" id="table">
                <tr>
                    <th>Invoker</th>
                    <th>Command</th>
                    <th>Short error</th>
                    <th>ID</th>
                </tr>
            </table>
        </div>
        <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
        <script>
            var xhr = new XMLHttpRequest();
            var url = "/errors/action";
            xhr.open("GET", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState !== 4) { return }
                /*
                if (xhr.status === 409) {
                    console.log("409")
                    return
                }
                */
                var json = JSON.parse(xhr.responseText);
                for (y=0; y < json.data.length; y++) {
                    x = json.data[y]
                    $("#table tr:last").after("<tr><td>" + x.invoker + "</td><td>" + x.command + "</td><td><span class='link'>" + x.short + "</span></td><td>" + String(x.id))
                }
            };
            try {
                xhr.send()
            } catch(error) {
                //console.log(error)
            }
        </script>
        <script>
            $(document).on("click", ".link", function() {
                _id = $(this).closest("td").next().text()
                localStorage.error_id = _id
                location.replace("/errors/view")
            })
            /* Open when someone clicks on the span element */
            function openNav() {
                document.getElementById("myNav").style.width = "15%";
            }

            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
    </body>
</html>