<!DOCTYPE html>
<html>
    <head>
        <title>Red - Discord Bot Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/uJGZl4O.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            body {
                margin: 0;
                font-family: sans-serif;
            }
            .main {
                margin-top: 50px;
            }
            h1, p {
                padding-right: 10px;
                padding-left: 10px;
            }
            table, th, td {
                border: 1px solid black;
                margin: 50px;
            }
            .link {
                color: -webkit-link;
                cursor: pointer;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Error?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="thebody">
                    Are you sure you want to delete this error?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deletebutton" onclick="deleteError()">Delete</button>
                </div>
                </div>
            </div>
        </div>
        {% include 'includes/navbar.html' %}
        <div class="main">
            <h1>Error ID: <span class="getid">0</span> <button type="button" class="btn btn-primary bg-dark" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash"></i></button></h1>
            <table style="width: 90%" id="table" class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Invoker</th>
                        <th scope="col">Command</th>
                        <th scope="col">Short error</th>
                        <th scope="col">ID</th>
                    </tr>
                </thead>
            </table>
            <p id="long"></p>
        </div>
        <!-- Highlight.js -->
        <script>
            var xhr = new XMLHttpRequest();
            var url = "/errors/view/action";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState !== 4) { return }
                /*
                if (xhr.status === 409) {
                    console.log("409")
                    return
                }
                */
                var json = JSON.parse(xhr.responseText);
                if (json.success) {
                    $(".getid").each(function() {
                        $(this).text(String(json.id))
                    })
                    $("#table tr:last").after("<tr><td>" + json.invoker + "</td><td>" + json.command + "</td><td><span class='link'>" + json.short + "</span></td><td>" + String(json.id))
                    $("#long").html("<pre class='python'><code class='python'>" + json.long.replace(/\n/g, "<br />") + "</code></pre>")
                    $('pre code').each(function(i, block) {
                    });
                }
            };
            var data = JSON.stringify({"id": localStorage.error_id});
            try {
                xhr.send(data)
            } catch(error) {
                //console.log(error)
            }
        </script>
        <script>
            $(".fa-trash").click(function() {
                $('#exampleModal').modal("show")
            })
            function deleteError() {
                var xhr = new XMLHttpRequest();
                var url = "/errors/remove/action";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState !== 4) { return }
                    /*
                    if (xhr.status === 409) {
                        console.log("409")
                        return
                    }
                    */
                    var json = JSON.parse(xhr.responseText);
                    if (json.status == 200) {
                        $("#thebody").text("Error has been deleted.")
                        setTimeout(function() {
                            location.replace("/errors")
                        }, 1000)
                    } else {
                        alert("Failed to delete error.")
                    }
                };
                var data = JSON.stringify({"id": localStorage.error_id});
                try {
                    xhr.send(data)
                } catch(error) {
                    //console.log(error)
                }
            }
            /* Open when someone clicks on the span element */
            function openNav() {
                document.getElementById("myNav").style.width = "15%";
            }

            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
    </body>
</html>