<!DOCTYPE html>
<html>
    <head>
        <title>Red - Discord Bot Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/uJGZl4O.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
            body {
                margin: 0;
                font-family: sans-serif;
            }
            .main {
                margin-top: 50px;
            }
            h1 {
                padding-right: 10px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="main">
            <h1>Cog Manager UI</h1>
            <ul>
                <li><a href="/cogs/cogmanager/cogs">Get a list of loaded and unloaded cogs</a></li>
                <li><a href="/cogs/cogmanager/paths">Get a list of paths on the bot</a></li>
                <li><a href="/cogs/cogmanager/addpath">Add a path to the bot</a></li>
            </ul>
        </div>
        <script>
            /* Open when someone clicks on the span element */
            function openNav() {
                document.getElementById("myNav").style.width = "15%";
            }

            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
    </body>
</html>